header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.2rem;
  display: flex;
  background-color: white;  
  
  .container {
    display: flex;
    align-items: center;
  }
  .logo {
    img {
      height: 2.4rem;
      width: 12rem;
      margin-right: 20rem;
    }
  }
  nav {    
    ul {
      display: flex;
      img {
        &:not(:last-child) {
          margin-right: 4.65rem;
        }
      }
      li {
        display: flex;
        flex-direction: row;
        a {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;        
        color: rgba(97, 97, 97, 0.7);
        margin-right: 1.2rem;
        transition: color 0.3s;
        &:hover {
          color: $yellow-brand;
        }
        }
      }
    }
  }

  button {
    background: $yellow-brand;
    border-radius: 10rem;
    height: 4rem;
    width: 24.3rem;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-left: 32rem;
    color: $black-brand;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
      
    }
  }
  
  @include responsive (1150px) {
    nav {
      ul {
        li {
          a{
            font-size: 1.1rem;
          }
        }
      }
    }
    button {
      width: 18rem;
      font-size: 1.3rem;
      margin-left: 41rem;
    }
    .logo {
      img {
        height: 2rem;
        width: 8rem;
        margin-left: 0rem;
      }
    }
  }
  @include responsive (991px) {
    nav {
      display: none;
    }
    button {
      margin-left: 45rem;
    }
    .logo {
      img {
        margin-left: 3rem
      }
    }
  }
  @include responsive (800px) {
    button {
      margin-left: 35rem;
      margin-right: 3rem;
    }
  }
  @include responsive (600px) {
    button {
      margin-left: 25rem;
      margin-right: 3rem;
      font-size: 1.3rem;
      width: 20rem;
    }
    .logo {
      img {
        margin-right: 0;
      }
    }
  }
  @include responsive (480px) {
    height: 8.8rem;
    .container {
      justify-content: space-between;
    }
    button {
      margin-left: 0;
      width: 17.1rem;
      height: 4rem;
      margin-right: 2.4rem;
      font-size: 1.3rem;           
    }  
    .logo {
      img {
        height: 5rem;
      }
    }
    
    }
  
}