header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.2rem;
  display: flex;
  background-color: white;
  z-index: 3;  
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 12rem;
    margin-right: 20rem;
   
     .logoclaro {
       display: none;
     }
   
    
  }
  nav {    
    ul {
      display: flex;
      img {
        &:not(:last-child) {
          margin-right: 4.65rem;
        }
      }
      li {
        display: flex;
        flex-direction: row;
        a {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;        
        color: rgba(97, 97, 97, 0.7);
        margin-right: 1.2rem;
        transition: color 0.3s;
        &:hover {
          color: $yellow-brand;
        }
        }
      }
    }
  }

  button {
    background: $yellow-brand;
    border-radius: 10rem;
    height: 4rem;
    width: 24.3rem;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-left: 32rem;
    color: $black-brand;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
      
    }
  }
  
  @include responsive (1150px) {
    nav {
      ul {
        li {
          a{
            font-size: 1.4rem;
          }
        }
      }
    }
    button {
      width: 18rem;
      font-size: 1.3rem;
      margin-left: 41rem;
    }
    .logo {
      margin-right: 17rem;
      height: 2rem;
      width: 8rem;
      
    }
  }
  @include responsive (991px) {
    
    button {
      margin-left: 24rem;
    }
    .logo {
      img {
        margin-left: 3rem
      }
    }
  }
  @include responsive (800px) {
    .logo {
      margin-right: 12rem;
    }
    button {
      margin-left: 9rem;
      margin-right: 3rem;
    }
  }
  @include responsive (600px) {
    .container {
      justify-content: space-between;
    }
    nav {
      display: none;
    }
    button {      
      font-size: 1.3rem;
      width: 17rem;
    }
    
  }
  @include responsive (480px) {
    background: url(../img/background-mobile.jpg);
    height: 8.8rem;
    
    button {
      margin-left: 0;
      width: 17.1rem;
      height: 4rem;
      margin-right: 1rem;
      
      font-size: 1.3rem;           
    }
    .logo {
      width: 16rem;
      margin-right: 7rem;
      .logocinza {
        display: none;
      }
      .logoclaro {
        display: initial;
      }
    }  
        
    }
  
}