.s-titulos {
  width: 100%;  
  height: 70rem;
  background: url('../img/background.svg') no-repeat;
  background-size: 100%;
  .programa {
    display: flex;
    padding-top: 17.9rem;
    width: 100%;
    max-width: 38.6rem;
    button {
      background: #006D8F;
      border-radius: 120px;
      width: 5.4rem;
      height: 2.6rem;     
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.6rem;      
      text-align: center;
      color: $white;
      margin-bottom: 3.9rem;
      margin-right: 1.2rem;  
    }
  p {
    font-family: 'Inter', sans-serif;    
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;   
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 0.3rem;    
  }
  }
  .titulo {
    width: 100%;
    max-width: 74rem;
    height: 20.2rem;    
    p {      
      margin-top: 2.4rem;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 150%;      
      color: rgba(255, 255, 255, 0.7)
    }
  }  
  .btn-produtos {
    background-color: transparent;
    width: 24.3rem;
    height: 4.8rem;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: solid 1px white;
    border-radius: 10rem;
    margin-top: 4rem;
    transition: all 0.3s;
    &:hover {
      background-color: #CACFD2 ;
      color: $black-brand;
      cursor: pointer;
    }

  }
  @include responsive (1440px) {
    height: 54rem;
    background-position-y: 67px;
    .programa {
      padding-top: 9.9rem;
    }
  }
  @include responsive (1150px) {    
      height: 49rem;
      background-position-y: 70px;           
    
    .programa {
      padding-top: 9.9rem;     
      p {
        font-size: 1.3rem;
      }
    }    
      
  }
  @include responsive (991px) {
    height: 44rem;
    .container {
      margin-left: 3rem;
    }
    .titulo {
      max-width: 55rem;
      height: 18.2rem;
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.7rem;
      }
    }
    .btn-produtos {
      margin-top: 1rem;
    }
  }
  @include responsive (800px) {
    height: 37rem;
    .programa {
      button {
        margin-bottom: 0;
      }
    }
       
    .titulo {
      padding-top: 2rem;
      max-width: 47rem;      
      h1 {
        font-size: 2.8rem;
      }
      p {
        font-size: 1.6rem;
        margin-top: 1.4rem;
      }
    }
    .btn-produtos {
      position: relative;
      top: -1.8rem;
      width: 21.3rem;
      height: 4rem;
    }
    
  }
  @include responsive (600px) {
    height: 29rem;
    .programa {
      padding-top: 8.9rem;
      button {
        display: none;
      }
      p {
        font-size: 1.2rem
      }
    }
    .titulo {
      max-width: 31rem;
      padding-top: 1rem;
      h1 {
        font-size: 1.9rem;
        padding-top: 0rem;
      }
      p {
        font-size: 1.1rem;
        margin-top: 0.8rem;

      }
    }
    .btn-produtos {
      position: relative;
      top: -6.8rem;
      width: 14.3rem;
      height: 3rem;
      font-size: 1rem;
    }
    
  }
  @include responsive (480px) {
    background: url(../img/background-mobile.jpg);
    height: 62.7rem;
    .container {
      margin-left: 0;
    }
    .programa {
      margin-top: 7.2rem;
      justify-content: center;      
      p {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
      }
      button {
        display: none;
      }
    }
    .titulo {
      max-width: 41.4rem;
      padding-top: 0;
      h1 {        
        font-size: 4rem;
        text-align: center;
      }
      p {
        padding-top: 1.6rem;
        text-align: center;
        font-size: 1.8rem;        
      }      
    }
    .btn-produtos {
      position: relative;
      left: 5rem;     
      top: 17rem;
      width: 24.3rem;
      height: 4.8rem;
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-align: center;
    }
  }
} 


.s-cards {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .left-area {
    margin-top: 9.6rem;
    width: 100%;
    max-width: 71.8rem;
    
    .titulos {
      margin-bottom: 9.5rem;
      h2 {
        margin-bottom: 0.8rem;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 50%;
        h5 {
          margin-bottom: 0.8rem;
          width: 20rem;
        }
        p {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 150%;
          color: $gray-brand;
        }
        .card {
          max-width: 25.9rem;
          margin-bottom: 6.8rem;          
          .icon-card {
            width: 2.2rem;
            height: 1.6rem;
            margin-bottom: 1.1rem;            
          }
          .icon-transfer {
            width: 1.8rem;
            height: 2.2rem;
            margin-bottom: 0.6rem;
          }
          .icon-money {
            width: 1.2rem;
            height: 2.2rem;
            margin-bottom: 1.3rem;
          }
          .icon-clock {
            width: 2rem;
            height: 2rem;
            margin-bottom: 1.5rem;
          }
          .retangulo {
            margin-bottom: 1.6rem;
          }
        }
      }
    }
  }
  .right-area {
    .image {
      img {
        margin-top: -8rem;
      }
    }
  }

  @include responsive (1440px) {
    .right-area {
      .image {
        img {
          margin-top: -2rem;
        }
      }
    }
  }
  @include responsive (991px) {
    .container {
      margin-left: 3rem;
    }
    .left-area {
      margin-top: 2.6rem;
      margin-right: 3rem;
      width: 100%;
      max-width: 99.1rem;
      .titulos {
        margin-bottom: 6.5rem;
        text-align: center;
      }
      ul {
        li {
          width: 25%;
          .card {
            max-width: 20.9rem;
            .icon-money {
              margin-bottom: 0.8rem;
            }
            .icon-clock {
              margin-bottom: 0.8rem;
            }
          }
        }
      }
    }
    .right-area {
      .image {
        display: none;
      }
    }
  }
  @include responsive (800px) {
    .left-area {
      .titulos {
        h2 {
          font-size: 3rem;
        }
        h3 {
          font-size: 2rem;
        }
      }
      ul {
        li {
          .card {
            max-width: 13.9rem;
          }
          h5 {
            font-size: 1.3rem;
            width: 16rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  @include responsive (600px) {
    .left-area {
      .titulos {
        margin-bottom: 3.5rem;
        h2 {
          font-size: 2rem;
        }
        h3 {
          font-size: 1.5rem;
        }
      }
      ul {
        li {
          .card {
            max-width: 10.9rem;
            h5 {
              width: 10rem;
            }
          }
        }
      }
    }
  }
  @include responsive (480px) {
    .container {
      margin-left: 2rem;
    }
    .left-area {
      margin-top: 5rem;
      
      .titulos {
        h2 {
          font-size: 3.2rem;
        }
        h3 {
          font-size: 2.4rem;
        }
      }
      ul {
        flex-direction: column;
        li {
          width: 100%;
          
          .card {
            max-width: 25.9rem;
            text-align: center;
            margin-left: 1.7rem;
            h5 {
              max-width:37.5rem;
              width: 100%;
              font-size: 1.8rem;
            }
            p {
              font-size: 1.6rem;
            }
            .icon-card {
              margin-left: 12rem;
              .retangulo {
                margin-left: 12.3rem
              }
            }
            .icon-transfer {
              margin-left: 12.2rem             
            }
            .retangulo {
              margin-left: 12.3rem
            }
            .icon-clock {
              margin-left: 12.2rem
            }
            .icon-money {
              margin-left: 12.5rem
            }
          }
        }
      }
    }
  }
}

.s-banco {
  .container {
    margin-top: 19.1rem;   
    width: 100%;
    max-width: 121.6rem;
    height: 60.7rem;
    .upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8.7rem;
      .btns {
        max-width: 59.2rem;
        height: 7.2rem;        
        border: 1px solid rgba(196, 196, 196, 0.6);
        border-radius: 120px;
        align-items: center;
        .you { 
          width: 26.9rem;
          height: 5.6rem;
          background: $black-brand;
          border-radius: 12rem;
          margin: 0.8rem 1.1rem;
          font-family: 'Montserrat', sans-serif;          
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2rem;         
          text-align: center;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $white;
          transition: all 0.3s;
          
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
        .empresa {
          width: 26.9rem;
          height: 5.6rem;
          background: transparent;
          border-radius: 12rem;
          margin: 0.8rem 1.1rem;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 1.6rem;
          line-height: 2rem;          
          text-align: center;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $gray-brand;
          transition: all .3s;
          
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
            color: $yellow-brand;
          }
        }
      }    
    } 
    .lower {
      background: linear-gradient(98.6deg, #020302 7.61%, #242424 96.26%);
      border-radius: 1.2rem;
      height: 42.4rem;
      display: flex;      
      .left {
        width: 100%;
        max-width: 43.1rem;
        height: 22.6rem;
        padding-top: 9.7rem;
        padding-left: 10.3rem;
        margin-right: 7.7rem;
        .titulos {
          p {          
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;          
            color: rgba(255, 255, 255, 0.7);
            margin-top: 1.6rem;
            margin-bottom: 4.4rem;
          }
        }
        .aproxime {
          display: flex;
          align-items: center;          
          p {
          text-align: center;          
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 150%;          
          color: #FAFAFA;
          margin-left: 1.6rem;
          }
        }        
      }
      .right {
        position: relative;
        .cartao {
          position: absolute;
          top: -8rem;
          z-index: 3;
          right: 10.5rem;
        }
        .celular {
          position: relative;
          top: 7.2rem;
          
                 
        }        
      } 
      .logo-c6 {
        width: 13.1rem;
        height: 1.8rem;
        position: relative;
        top: 35.3rem;
        right: 7.3rem;
        
      }     
    }
  }
  @include responsive (991px) {
    .container {
      margin-top: 0;
      margin-left: 3rem;
      max-width: 93.6rem;    
      .upper {
        .titulos{
          h2 {
            font-size: 3rem;
          }
          h3 {
            font-size: 2rem;
          }
        }
      .btns {      
        .empresa {
          width: 20rem;
        }
        .you {
          width: 20rem;
        }           
      }   
      
    }
      .lower {
        height: 35.4rem;
        .left {
          padding-left: 6.3rem;
          max-width: 37.1rem;
          padding-top: 5.7rem;
        }
        .right {
          .celular {
            top: 10.6rem;
          }
          .cartao {
            top: -7rem;
            right: 0.5rem;
          }
        }
        .logo-c6 {
          top: 31.3rem;
        }
      }
    }
  }
  @include responsive (800px) {
    .container {
      max-width: 73.6rem;
      height: 37rem;
      .upper {        
        margin-bottom: 4.7rem;
        .titulos {
          h2 {
            font-size: 2.5rem;
          }
          h3 {
            font-size: 1.5rem;
          }
        }
        .btns {
          max-width: 35.2rem;
          .you {
            width: 15rem;
            font-size: 1.2rem;
          }
          .empresa {
            width: 15rem;
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
      }
      .lower {
        height: 24.4rem;
        .left {
          padding-left: 3.3rem;
          padding-top: 3.7rem;
          max-width: 26.1rem;

          .titulos {
            h4 {
              font-size: 2rem;
            }
            p {
              margin-bottom: 2.4rem;
              font-size: 1.2rem;
            }
          }
          .aproxime {
            p {
              font-size: 1.2rem;
            }
            .icon {
              img {
                width: 2.8rem;
                height: 2.8rem;
              }
            }
          }
          
        }
        .right {
          .celular {
            top: 4.5rem;
          }
        }
        .logo-c6 {
          top: 21.3rem;
        }
      }      
    }
  }
  @include responsive (600px) {
    .container {
      max-width: 53.6rem;
      height: auto;
      width: 100%;
      .upper {
        flex-direction: column;
        .titulos {
          text-align: center;
          margin-bottom: 3rem;
          h2 {
            font-size: 3.5rem;
          }
          h3 {
            font-size: 2.5rem;
          }          
        }
        .btns {
          max-width: 50.6rem;
          .you {
            width: 22rem;
            font-size: 2rem;
          }
          .empresa {
            width: 22rem;
            font-size: 1.8rem;
          }
        }
      }
      .lower {
        flex-direction: column;
        height: 70rem;
        .left {
          max-width: 41rem;
          width: 100%;
          margin: auto;
          text-align: center;
          padding-right: 3rem;
          padding-top: 3rem;
          .titulos {
            h4 {
              font-size: 3rem;
            }
            p {
              font-size: 1.8rem;
            }
          }
          .aproxime {
            @include flex (row, center, center);
            .icon {
              img {
                width: 3.9rem;
                height: 3.9rem;
              }
            }
            p {
              font-size: 1.6rem;
            }
          }
        }
        .right {
          margin-top: 10rem;
          .celular {
            top: -0.2rem;
          }
          .cartao {
            top: -9rem;
            right: 10.5rem;
          }
        }
        .logo-c6 {
          display: none;
        }
      }
    }
  }
  @include responsive (480px) {
    .container {
      max-width: 38rem;
      margin-left: 0;
      .upper {
        margin-bottom: 4.8rem;
        .titulos {
          margin-bottom: 4rem;
          h2 {
            font-size: 3.2rem;
          }
        }
        .btns {
          max-width: 38rem;
          .you {
            width: 14rem;
            font-size: 1.2rem;
          }
          .empresa {
            width: 14rem;
            font-size: 1.2rem;
          }
        }
      }
      .lower {
        height: 64rem;
        .left {
          height: auto;
          padding-top: 6.4rem;
          .titulos {
            h4 {                       
              font-size: 2.2rem;
              text-align: center;            
            }
            p {
              font-size: 1.4rem;
            }
          }
          .aproxime {
            p {
              font-size: 1.4rem;              
            }
            .icon {
              img {
                width: 3.2rem;
                height: 3.2rem;
              }
            }
          }
        }
        .right {
          .celular {
            img {
              width: 33rem;
            }            
          }
          .cartao {
            top: -12rem;
            right: 6rem;
          }
        }
      }
    }
  }
}
    

  
