.s-titulos {
  width: 100%;  
  height: 70rem;
  background: url('../img/background.svg') no-repeat;
  background-size: 100%;
  .programa {
    display: flex;
    padding-top: 17.9rem;
    width: 100%;
    max-width: 38.6rem;
    button {
      background: #006D8F;
      border-radius: 120px;
      width: 5.4rem;
      height: 2.6rem;     
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.6rem;      
      text-align: center;
      color: $white;
      margin-bottom: 3.9rem;
      margin-right: 1.2rem;  
    }
  p {
    font-family: 'Inter', sans-serif;    
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;   
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 0.3rem;    
  }
  }
  .titulo {
    width: 100%;
    max-width: 74rem;
    height: 20.2rem;    
    p {      
      margin-top: 2.4rem;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 150%;      
      color: rgba(255, 255, 255, 0.7)
    }
  }  
  .btn-produtos {
    background-color: transparent;
    width: 24.3rem;
    height: 4.8rem;
    font-family: 'Montserrat', sans-serif;    
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: solid 1px white;
    border-radius: 10rem;
    margin-top: 4rem;
    transition: all 0.3s;
    &:hover {
      background-color: #CACFD2 ;
      color: $black-brand;
      cursor: pointer;

    }

  }
  @include responsive (1150px) {    
      height: 49rem;
      background-position-y: 70px;           
    
    .programa {
      padding-top: 9.9rem;     
      p {
        font-size: 1.3rem;
      }
    }    
      
  }
  @include responsive (991px) {
    height: 44rem;
    .container {
      margin-left: 3rem;
    }
    .titulo {
      max-width: 55rem;
      h1 {
        font-size: 3.5rem;
      }
      p {
        font-size: 1.7rem;
      }
    }
    .btn-produtos {
      margin-top: 1rem;
    }
  }
  @include responsive (800px) {
    height: 37rem;
    .programa {
      button {
        margin-bottom: 0;
      }
    }
       
    .titulo {
      padding-top: 2rem;
      max-width: 47rem;      
      h1 {
        font-size: 2.8rem;
      }
      p {
        font-size: 1.6rem;
        margin-top: 1.4rem;
      }
    }
    .btn-produtos {
      position: relative;
      top: -4.5rem;
      width: 21.3rem;
      height: 4rem;
    }
    
  }
  @include responsive (600px) {
    height: 29rem;
    .programa {
      padding-top: 8.9rem;
      button {
        width: 4.4rem;
        font-size: 1.1rem;
        margin-right: 0.8rem
      }
      p {
        font-size: 1.2rem
      }
    }
    .titulo {
      max-width: 31rem;
      padding-top: 1rem;
      h1 {
        font-size: 2.5rem;
        padding-top: 0rem;
      }
      p {
        font-size: 1.3rem;
        margin-top: 0.8rem;

      }
    }
    .btn-produtos {
      display: none;
    }
    
  }
  @include responsive (480px) {
    background: url(../img/background-mobile.jpg);
    height: 66.7rem;
    .container {
      margin-left: 0;
    }
    .programa {
      margin-top: 7.2rem;
      justify-content: center;      
      p {
        font-size: 1.5rem;
        margin-bottom: 1.2rem;
      }
      button {
        display: none;
      }
    }
    .titulo {
      max-width: 41.4rem;
      padding-top: 0;
      h1 {        
        font-size: 4rem;
        text-align: center;
      }
      p {
        padding-top: 1.6rem;
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
} 


.s-cards {
  .container {
    width: 100%;
    display: flex;  
    justify-content: space-between;
    
  }
  .left-area {
    padding-top: 9.6rem;    
    h2 {
      padding-bottom: 0.8rem;
    }
    h3 {
      padding-bottom: 10rem;
    }
    max-width: 62.5rem;
    height: 41.2rem;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;  
      li {
        width: 50%;
        max-width: 26rem;
        margin-bottom: 6.8rem;
        p {          
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 150%;          
          color: #616161;
          margin-top: 0.8rem;
        }
        .icon-card {
          width: 2.2rem;
          height: 1.6rem;
          margin-bottom: 1.1rem;
        }
        .icon-transfer {
          width: 1.8rem;
          height: 2.2rem;
          margin-bottom: 1rem;
        }
        .icon-money {
          width: 1.2rem;
          height: 2.2rem;
          margin-bottom: 1.3rem;
        }
        .icon-clock {
          width: 2rem;
          height: 2rem;
          margin-bottom: 1.5rem;
        }        
        .retangulo {
          margin-bottom: 1.6rem;
        }
        .retangulo-especial {
          margin-bottom: 1.2rem;
        }    
      }
      
    }
  }
  .right-area {
    .image {
      margin-bottom: 19.1rem;
      img {
      position: relative;
      width: 100%;
      max-width: 46.7rem;
      height: 86rem;
      margin-top: -5rem;
      }
    }
  }

  @include responsive (1150px) {
    .left-area {
      padding-top: 3.6rem;
      h3 {
        padding-bottom: 4rem;
      }
    }
    .right-area {
      .image { 
        margin-bottom: 8.1rem;
        img {
          height: 74rem;
          margin-right: 5rem;          
      }
    } 
  }
  }
  @include responsive (480px) {
    display: none;
  }
}

.s-banco {
  .container {   
    width: 100%;
    max-width: 121.6rem;
    height: 60.7rem;
    .upper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8.7rem;
      .btns {
        max-width: 59.2rem;
        height: 7.2rem;        
        border: 1px solid rgba(196, 196, 196, 0.6);
        border-radius: 120px;
        align-items: center;
        .you { 
          width: 26.9rem;
          height: 5.6rem;
          background: $black-brand;
          border-radius: 12rem;
          margin: 0.8rem 1.1rem;
          font-family: 'Montserrat', sans-serif;          
          font-weight: 600;
          font-size: 1.6rem;
          line-height: 2rem;         
          text-align: center;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $white;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
        .empresa {
          width: 26.9rem;
          height: 5.6rem;
          background: transparent;
          border-radius: 12rem;
          margin: 0.8rem 1.1rem;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;          
          text-align: center;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: $gray-brand;
        }
      }    
    } 
    .lower {
      background: linear-gradient(98.6deg, #020302 7.61%, #242424 96.26%);
      border-radius: 1.2rem;
      height: 42.4rem;
      display: flex;      
      .left {
        width: 100%;
        max-width: 43.1rem;
        height: 22.6rem;
        padding-top: 9.7rem;
        padding-left: 10.3rem;
        margin-right: 7.7rem;
        .titulos {
          p {          
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;          
            color: rgba(255, 255, 255, 0.7);
            margin-top: 1.6rem;
            margin-bottom: 4.4rem;
          }
        }
        .aproxime {
          display: flex;
          align-items: center;          
          p {
          text-align: center;          
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 150%;          
          color: #FAFAFA;
          margin-left: 1.6rem;
          }
        }        
      }
      .right {
        position: relative;
        .cartao {
          position: absolute;
          top: -8rem;
          z-index: 3;
          right: 10.5rem;
        }
        .celular {
          position: relative;
          top: 7.2rem;
          
                 
        }        
      } 
      .logo-c6 {
        width: 13.1rem;
        height: 1.8rem;
        position: relative;
        top: 35.3rem;
        right: 7.3rem;
        
      }     
    }
  }
  @include responsive (480px) {
    display: none;
  }
}
    
 
  
