h1 {  
  font-size: 4.8rem;  
  color: $white;
}

h2 {  
  font-size: 4rem;  
  letter-spacing: -0.03em;
  color: $black-brand;
}

h3 {   
  font-weight: 500;
  font-size: 2.8rem;  
  color: $gray-brand;
}

h4 {    
  font-weight: 600;
  font-size: 2.4rem;  
  letter-spacing: -0.03em;
  color:$white;
}
h5 {  
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  color: $black-brand;
}

h1, h2 {  
  font-weight: 700;
  
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  line-height: 130%;
}